In [1]:
import pandas as pd
import numpy as np

[Ref for the notebook](https://towardsdatascience.com/python-stock-analysis-balance-sheet-trend-analysis-18e6eb63cdc)

In [133]:
apple = pd.read_json('https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/AAPL?period=quarter&apikey=demo')

In [134]:
apple.head()

  symbol                                         financials
0   AAPL  {'date': '2020-06-27', 'Cash and cash equivale...
1   AAPL  {'date': '2020-03-28', 'Cash and cash equivale...
2   AAPL  {'date': '2019-12-28', 'Cash and cash equivale...
3   AAPL  {'date': '2019-09-28', 'Cash and cash equivale...
4   AAPL  {'date': '2019-06-29', 'Cash and cash equivale...

In [135]:
apple.columns

Index(['symbol', 'financials'], dtype='object')

In [136]:
cols = list(pd.DataFrame(list(apple.financials)).T.iloc[0])

In [137]:
df = pd.DataFrame(list(apple.financials)).T.iloc[1:]

In [138]:
df.columns = cols

In [139]:
df = df.iloc[:12,:4]

In [140]:
df = df.apply(pd.to_numeric, errors = 'coerce')

In [141]:
df.dtypes

2020-06-27    float64
2020-03-28    float64
2019-12-28    float64
2019-09-28    float64
dtype: object

In [131]:
total_assets = list(df.iloc[-1,:])

In [142]:
for x in df.columns:
    df[x]/=df.loc['Total assets'][x]

In [148]:
round(df*100,2) # Values are in percentage

,2020-06-27,2020-03-28,2019-12-28,2019-09-28
Cash and cash equivalents,10.52,12.54,11.68,14.43
Short-term investments,18.79,16.82,19.78,15.28
Cash and short-term investments,29.31,29.35,31.46,29.71
Receivables,5.63,4.91,6.16,6.77
Inventories,1.25,1.04,1.20,1.21
Total current assets,44.14,44.87,47.92,48.10
"Property, Plant & Equipment Net",11.25,11.20,10.87,11.04
Goodwill and Intangible Assets,0.00,0.00,0.00,0.00
Long-term investments,31.70,30.83,29.33,31.12
Tax assets,0.00,0.00,0.00,0.00
Total non-current assets,55.86,55.13,52.08,51.90
Total assets,100.00,100.00,100.00,100.00